$colorA: rgb(34, 213, 175);
$colorB: rgb(29, 130, 76);
$colorC: rgb(8, 53, 52);


$smallBorderWidth: 3px;
$bigBorderWidth: 5px;

$bolderFontWeight: 700;
$lighterFontWeight: 500;
$veryLightFontWeight: 300;
